:root:root {
  // 自定义antd-mobile主题色
  --adm-color-primary: #fc6627;
  --adm-font-family: 'PingFangSC-Regular';

  // 自定义css样式
  --font-size: 16px;
}

html,body {
  margin: 0;
  padding: 0;
}

html,body,#root {
  height: 100%;
}

p,h2,h3 {
  margin: 0;
}

// 配置字体图标的样式
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.adm-nav-bar {
  border-bottom: 1px solid #f0f0f0;
}

.adm-nav-bar-back-arrow {
  font-size: 15px;
}