.root {
  height: 100%;
  padding: 0 16px;
  overflow-y: scroll;
  background-color: #fff;

  :global{
    .articles {
      padding-bottom: 50px;
    }
    .article-item {
      position: relative;
      color: #323233;
      font-size: 14px;
      background-color: #fff;
    }
  }
}